/******************/
/* general reset  */
/******************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Chivo', sans-serif;
  font-size: 14px;
  color: rgb(194, 203, 229);
  overflow: hidden;
}

body {
  position: relative;
  background-color: rgb(18, 23, 37);
}

/******************/
/* typography     */
/******************/
#title,
.text {
  font-weight: 200;
  text-align: center;
}

#title {
  font-size: 2em;
  line-height: 38px;
  color: rgb(255,255,255);
  text-transform: uppercase;
}
  #title span {
    font-size: 1em;
    color: rgb(84, 230, 175);
  }

.text {
  line-height: 25px;
  font-size: 15px;
}

/* form component typography */
#email-form .input {
  color: rgb(255, 255, 255);
}
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 0.5; /* Firefox */
  }
  ::-ms-input-placeholder { 
    /* Microsoft Edge */
    color: rgb(255, 255, 255);
  } 

#email-form #btn {
  color: rgb(18, 23, 37);
  font-weight: 600;
}

/******************/
/* grid           */
/******************/
.grid {
  display: grid;
}
  #title {
    order: 1;
  }
  .text {
    order: 2;
  }
  #email-form {
    order: 4;
  }
  #podcast-publishing {
    order: 3;
  }

/******************/
/* flexbox        */
/******************/
.main-text,
#podcast-publishing,
#email-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#podcast-publishing {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/******************/
/* general styles */
/******************/
.bg-image {
  position: absolute;
  z-index: -2;
}
#logo {
  width: 134.85px;
  height: 56px;
  position: absolute;
  top: 4.5em;
  left: 8em;
  z-index: 1;
}

#container {
  background-color: rgb(18, 23, 37);
  opacity: 0.9;
  height: 100vh;
  padding-top: 12.6em;
}
  #container .wrapper {
    width: 24.8em;
    height: 30em;
    margin: auto;
  }

.main-text {
  height: 14.5em;
}
  #title {
    height: 2.5em;
  }
  .main-text .text {
    width: 90%;
    height: 7em;
    margin: auto;
    margin-top: 1.6em;
  }

/**********************************/
/* podcasts logos | mobile styles */
/**********************************/
#podcast-publishing {
  height: 20px;
  opacity: 0.7;
}
  .spotify {
    width: 18%;
    height: 90%;
  }
  .apple {
    width: 15%;
    height: 90%;
  }
  .google {
    width: 28%;
    height: 78%;
  }
  .pocket {
    width: 23%;
    height: 76%;
  }

/************************/
/* form | mobile styles */
/************************/
#email-form {
  width: 100%;
  height: 9em;
  padding-top: 1.5em;
}
  .input,
  #btn {
    width: 100%;
    height: 46px;
    border-radius: 28px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  #email-form .input {
    background-color: rgba(44, 52, 75, 1);
    padding-left: 32px;
  }

  #btn {
    background: rgba(84, 230, 175, 1);
  }

.bg-dots {
  position: absolute;
  visibility: hidden;
}

#validation {
  visibility: hidden;
}

/******************/
/* media queries  */
/******************/

@media screen and (min-width: 550px) {
  body {
    outline: 1px solid white;
    height: 100vh;
  }
  #logo {
    top: 3.5em;
    left: 3em;
  }
  .bg-image {
    background-image: url("./assets/image-tablet.jpg");
    background-repeat: no-repeat;
    /* outline: 1px solid white; */
    top: -1em;
    right: -1.3em;
    opacity: 0.9;
    width: 491px;
    height: 775px;
    background-size: cover;
  }

  /******************/
  /* grid           */
  /******************/
  #email-form {
    order: 3;
  }
  #podcast-publishing {
    order: 4;
  }
  /******************************************/
  /* general styles | media query min 550px */
  /******************************************/
  #container {
    width: 635px;
    height: 509px;
    padding-top: 6.8em;
    position: relative;
    top: 18.3em;
    left: 3rem;
    opacity: 1;
  }
    #container .wrapper {
      width: 24.8em;
      height: 30em;
    }
  
  .main-text {
    height: 227px;
  }
    #title {
      height: 2.5em;
    }
    .main-text .text {
      font-size: 18px;
      line-height: 28px;
      width: 90%;
      height: 84px;
      margin: 0;
    }
  #container .wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  #title {
    font-size: 48px;
    line-height: 56px;
    text-align: left;
  }
  .main-text .text {
    width: 445px;
    margin-left: 3px;
    text-align: left;
  }

  /********************************/
  /* form | media query min 550px */
  /********************************/
  #email-form {
    width: 427px;
    height: 110px;
    position: relative;
    margin-top: 2.7em;
    padding-top: 0;
  }
  .input {
    width: 427px;
    height: 58px;
  }
  #btn {
    position: absolute;
    top: 6.5px;
    right: 6.5px;
    width: 162px;
    height: 46px;
  }
  #validation {
    color: rgb(255, 0, 0);
    width: 175px;
    height: 18px;
    font-size: 14px;
    position: absolute;
    top: 4.5em;
    left: 2.4em;
  }

  /******************************************/
  /* podcasts logos | media query min 550px */
  /******************************************/
  #podcast-publishing {
    height: 32px;
    width: 536px;
  }

  /*********************************************/
  /* footer background | media query min 550px */
  /*********************************************/
  .bg-dots {
    visibility: visible;
    bottom: 0;
    left: 3em;
  }
  /**************************************************/
  /* email validation form  | media query min 550px */
  /**************************************************/
  #btn:hover {
    background-color: rgb(176, 255, 226);
  }
}


